<section id="#about">
    <div class="container about__container">
        <h2 class="about__title">About <br> Tammy Hanks</h2>
        <a href="mailto:luisinperrin10@gmail.com" class="contact__btn about__btn">
            <i class='bx bxl-gmail'></i>
        </a>
        <div class="about__left">
            <div class="about__image">
                <div class="about__image-bg"></div>
                <div class="about__image-lg">
                    <img src="/img/16.jpeg" alt="About me">
                </div>
                <div class="about__image-sm">
                    <img src="/img/16.jpeg" alt="About me">
                </div>
            </div>
        </div>
        <div class="about__right">
            <div class="empty about__empty"></div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, autem ducimus illum fugiat, in quo dolorem
                impedit ullam quidem suscipit molestiae delectus at molestias! Incidunt rerum quam inventore maxime
                quos.
            </p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis voluptate beatae debitis non
                accusantium
                ad explicabo reprehenderit dolor delectus veritatis?</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur, cupiditate recusandae. Praesentium
                doloribus distinctio enim eveniet quae expedita voluptatibus, odit hic reprehenderit voluptates?
                Reprehenderit
                totam accusamus placeat enim sunt corrupti autem quas asperiores eum, unde nesciunt voluptas doloribus.
                Fugit,
                deleniti.</p>
        </div>
    </div>


</section>

<div class="espaciador"></div>