<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<header>
    <div class="container header__container">
        <div class="header__left">
            <div class="header__image-bg"></div>
            <div class="header__image-lg">
                <img src="/img/5.webp" alt="Header Img">
            </div>
            <div class="header__image-sm">
                <img src="/img/5.webp" alt="Header Img">
            </div>
        </div>
        <div class="header__right">
            <div class="header__head">
                <div class="empty header__empty"></div>
                <a href="#" class="header__tag">#Best Travel Photographer 2022</a>
            </div>
            <h1>See The Beauty Of The World Through My Lense</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, 
                voluptatibus quaerat numquam quae enim culpa totam delectus voluptatem minima ducimus 
                rem tempore ut esse nemo unde vitae! Ab, animi odit.
            </p>
            <a href="mailto:luisinperrin10@gmail.com" class="header__btn-md"> Let's Talk</a>
        </div>
    </div>
</header>
<div class="header__frames">
    <div class="header__frame">
        <img src="/img/2.jpeg" alt="Frame 1">
    </div>
    <div class="header__frame">
        <img src="/img/3.jpeg" alt="Frame 2">
    </div>
    <div class="header__frame">
        <img src="/img/4.jpeg" alt="Frame 3">
    </div>
</div>
<a href="mailto:luisinperrin10@gmail.com" class="contact__btn header__btn">
    <i class='bx bxl-gmail'></i>
    <p>CONTACT - SEND ME AN EMAIL</p>
</a>

<script src="/js/main.js"></script>